<!-- <table>
    <th>Id</th>
    <th>Name</th>
    <th>Descritption</th>
    <th>Price</th>
    <th>Stars</th>
    <tr *ngFor="let item of products">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.stars}}</td>
    </tr>
</table> -->

<mat-toolbar color="primary">

    <span>{{title}}</span>
    <mat-icon class="icon">shoping_cart</mat-icon>

    <div class="toolbar-spacer"></div>
    <span>Christoph Knoll 2020</span>
</mat-toolbar>

<div class="content">
    <h1>{{title}}</h1>
  
    <router-outlet></router-outlet>

</div>


<footer style="position:fixed;
bottom:0; margin:2em">
    Christoph Knoll 2020
</footer>